
<ion-split-pane contentId="pages-content">
  <ion-menu contentId="pages-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list" *ngIf="perfil.perfil$ | async as persona">
        <ion-img style="width: 48px; height: 48px; margin-right: 8px !important; margin-left: 8px !important; margin-bottom: 8px !important" src="/assets/logo.jpg"></ion-img>
        <ion-list-header>Rave S.A</ion-list-header>
        <ion-note>{{persona.nombreEmpleado}} - {{persona.rol === 1 ? 'Gerente' : 'Empleado'}}</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages | rol: persona.rol; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>            
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="pages-content"></ion-router-outlet>
</ion-split-pane>
