<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recibo salarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recibo of recibos$ | async">
      <ion-label>{{recibo.fecha | date}}</ion-label>
      <ion-label slot="end" class="ion-text-right"><b>Gs. {{recibo.montoSalario | coma}}</b></ion-label>
      <ion-button slot="end" fill="text" shape="round" (click)="imprimir(recibo.id)">
        <ion-icon slot="icon-only" icon="print"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
